{% extends 'cliente/index.html' %}
{% block content %}
<style>
    table {
        width: 100%;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 15px;
        text-align: left;
    }

    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }

    table#t01 tr:nth-child(odd) {
        background-color: #fff;
    }

    table#t01 th {
        background-color: black;
        color: white;
    }
</style>

<h2>Listado de Productos</h2>
<br>

<table class="table" id="t01">
    <tr>
        <th>ID</th>
        <th>DESCRIPCION</th>
        <th>CATEGORIA</th>
        <th>EXISTENCIA</th>
        <th>PRECIO</th>
    </tr>

    {% for producto in object_list %}
    <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.name }}</td>
        <td>{{ producto.category }}</td>
        <td>{{ producto.price }}</td>
        <td>{{ producto.quantity }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}