{% extends 'cliente/index.html' %}
{% block content %}
    <style>
      table {
        width: 100%;
      }
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 15px;
        text-align: left;
      }
      table#t01 tr:nth-child(even) {
        background-color: #eee;
      }
      table#t01 tr:nth-child(odd) {
        background-color: #fff;
      }
      table#t01 th {
        background-color: black;
        color: white;
      }
    </style>

    <h2>Listado de Clientes</h2>
    <br>
    <table class='table' id="t01">
      <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>DIRECCION</th>
        <th>TELEFONO</th>
      </tr>

      {% for cliente in object_list %}
      <tr>
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.name }}</td>
        <td>{{ cliente.adress }}</td>
        <td>{{ cliente.phone }}</td>
      </tr>
      {% endfor %}
    </table>

{% endblock %}